# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js / build
/.next/
/out/
/build

# environment variables
.env*
!.env.example   # kalau mau commit contoh env

# vercel
.vercel
.vercel_build_output/

# typescript
*.tsbuildinfo
next-env.d.ts

# misc
.DS_Store
*.pem
*.log
*.cache